.container {
  background-color: #711d1c0f;
  padding: 1rem 1.5rem;
  border-radius: 8px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: black;
  border-bottom: 1px solid #711d1c;
  padding-bottom: 1rem;
  font-weight: 700;
}

.title div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.title svg {
  color: #711d1c;
  font-size: 1.1rem;
}

.tikets {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 0;
}

.no_tikets {
  text-align: center;
  font-size: 2rem;
  width: 100%;
  padding: 9rem 0 12.5rem 0;
}
