.login_container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 380px;
  border-radius: 4px;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  color: black;
  padding: 30px 25px;
  font-weight: 600;
}

.login_container input[type="text"],
.login_container input[type="password"] {
  width: 100%;
  line-height: 2rem;
  border-radius: 3px;
  outline: none;
  border: 1px solid black;
  padding: 0.2rem 0.5rem;
  font-size: 0.8rem;
  background-color: white;

}
.login_container input[type="checkbox"] {
  width: 1rem;
  height: 1rem;
  border: 1px solid #d9d9d9;
  border-radius: 1px;
  vertical-align: sub;
  outline: none;
}
.remember {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  font-size: 0.8rem;
}
.login_container form {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}

.btn {
  width: 100%;
  background-color: rgb(52, 24, 14);
  outline: none;
  border: none;
  padding: 0.8rem;
  font-size: 0.9rem;
  color: #fff;
  cursor: pointer;
}
.forgot {
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  margin: 1rem auto;
  font-weight: 600;
}

.register {
  text-align: left;
  font-size: 0.8rem;
  margin: 1.5rem 0;
  display: block;
}
.register_btn {
  color: rgb(109, 109, 109);
  border: 1px solid rgb(214, 214, 214);
  background: rgb(242, 242, 242);
   margin-bottom: 1rem;
  cursor: pointer;
  padding: 1rem;
}

.redirect_to_home {
  position: relative;
  bottom: -5rem;
  left: 40%;
  cursor: pointer;
  font-size: 13px;
  color: rgb(52, 24, 14);
}
