.modal {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.389);
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}
.line {
  background-color: brown;
}
.content {
  max-width: 700px;
  z-index: 200;
  max-height: 600px;
  overflow: scroll;
  min-height: 200px;
  background-color: white;
  color: black;
  border-radius: 10px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  word-wrap: normal;
  gap: 1rem;
  position: relative;
  margin-top: 2rem;
}
.content span{
 color:#e74c3c;
 font-weight: 700;
}
.content .title {
  align-self: center;
  font-weight: 700;
  font-size: 1.3rem;
}

.close {
  position: absolute;
  right: 20px;
  font-size: 1.3rem;
  cursor: pointer;
}

.close:hover {
  font-size: 1.4rem;
}

.btns {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 1rem;
  position: relative;
  width: 600px;
  align-items: center;
  margin: 0 auto;
  margin-top: 3rem;
  z-index: 200;
}

.btns button {
  padding: 0.4rem 0.7rem;
  width: -webkit-fill-available;
  cursor: pointer;
  border: 0;
  border-radius: 3px;
  color: white;
}

.pending_btn {
  background: #3498db;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.accept_btn {
  background: #2ecc71;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.reject_btn {
  background: #e74c3c;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.answer_btn {
  background: gray;
  padding: 0.4rem 0.7rem;
  cursor: pointer;
  border: 0;
  border-radius: 3px;
  color: white;
  white-space: nowrap;
  width: -webkit-fill-available;
}

.delete_btn {
  background: #e74c3c;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.edit_btn {
  background: #3498db;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.answer_title {
  font-size: 0.8rem;
  font-weight: 500;
  margin-bottom: 1rem;
  font-style: italic;
  color: gray;
  text-align: left;
}
.textarea {
  outline: none;
  border: none;
  resize: none;
  height: auto;
  font-size: 1rem;
  cursor: pointer;
}

.textarea::placeholder {
  color: gray;
  font-size: 0.8rem;
  font-style: italic;
}

.body {
  text-align: justify;
  word-break: break-word; /* ensures long words/URLs break properly */
  white-space: pre-wrap; /* preserves line breaks and whitespace */
  overflow-wrap: break-word;
}

.img{
  width: 10rem;
  height: 10rem;
 
  object-fit: cover;
  border-radius: 10px;
}